#locations td, #locations th {
    border: 1px solid #ddd;
    padding: 8px;
    
  }
  
  #locations tr:nth-child(even){background-color: #f2f2f2;}
  #locations tr:nth-child(odd){background-color: #ffffff;}
  
  #locations tr:hover {background-color: #ddd;}
  
  #locations th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #000000;
    color: white;
  }